<div class="container py-4">

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <!-- <h1 class="display-5 fw-bold">Custom jumbotron</h1>
        <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
        <app-tabla-pelicula (cambioPelicula)="pelicula = $event"></app-tabla-pelicula>
      </div>
    </div>



    <div class="row align-items-md-stretch">
      <div class="col-md-4">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Para Borrar</h2>
          <p>Pendiente</p>
          <!-- <button class="btn btn-outline-light" type="button">Example button</button> -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <app-detalle-pelicula [pelicula]="pelicula"></app-detalle-pelicula>
        </div>
      </div>
      <div class="col-md-4">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Para Modificar</h2>
          <p>Pendiente</p>
          <!-- <button class="btn btn-outline-secondary" type="button">Example button</button> -->
        </div>
      </div>
    </div>
    
    <footer class="pt-3 mt-4 text-body-secondary border-top">
      © 2023
    </footer>
  </div>