<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">Pre Parcial - Machaca Gaston</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="bienvenido" class="nav-link" aria-current="page">Bienvenido</a></li>
        <li class="nav-item"><a routerLink="busqueda" class="nav-link">Busqueda</a></li>
        <li class="nav-item"><a routerLink="/peliculas/alta" class="nav-link">Alta Pelicula</a></li>
        <li class="nav-item"><a routerLink="/actor/alta" class="nav-link">Alta Actor</a></li>
        <!-- <li class="nav-item"><a href="#" class="nav-link">About</a></li> -->
      </ul>
    </header>
</div>

<router-outlet></router-outlet>
